---
import "../styles/global.css";
import Main from "../layouts/main.astro";
import Header from "../components/Header";
import HeroSection from "../components/HeroSection.astro";
import ServicesSection from "../components/ServicesSection";
import FeaturedServices from "../components/FeaturedServices";
import PricingSection from "../components/PricingSection";
import ContactFooter from "../components/ContactFooter";
---
<Main content={{ title: "SAI Logistics" }}>
	<Header client:load/>
	<HeroSection />
	<ServicesSection client:load />
	<FeaturedServices />
	<PricingSection />
	<ContactFooter />
</Main>