---
import "../styles/global.css";
import Main from "../layouts/main.astro";
import Header from "../components/Header";
import HeroSection from "../components/HeroSection.astro";
import ServicesSection from "../components/ServicesSection";
import FeaturedServices from "../components/FeaturedServices";
import TrackingSection from "../components/TrackingSection";
import PricingSection from "../components/PricingSection";
import ContactFooter from "../components/ContactFooter";
---

<Main
  content={{
    title: "SAI & NEXUS - Servicios Logísticos | Transporte y Almacenamiento",
    description:
      "Soluciones logísticas integrales con transporte terrestre, almacenamiento y cadena de suministro optimizada. Más que carga, movemos confianza.",
    image: "/favicon/apple-touch-icon.png",
    type: "website",
  }}
>
  <Header client:load />
  <HeroSection />
  <ServicesSection client:load />
  <FeaturedServices client:load />
  <TrackingSection client:load />
  <PricingSection client:load />
  <ContactFooter client:load />
</Main>
